.loginSide {
  padding: 200px 40px;
  display: flex;
  justify-content: center;
  .edit {
    width: 80%;
    display: flex;
    justify-content: space-between;
    .logout {
      padding-left: 20px;
      display: flex;
      flex-direction: column;
      height: 70vh;
      border-left: 1px solid black;
      button {
        width: 70px;
      }
    }
  }
  #LoginContainer {
    height: 70vh;
    input {
      width: 300px;
      padding: 3px;
      margin-bottom: 5px;
    }
  }
}
@media (max-width: 768px) {
  .loginSide {
    flex-direction: column;
    display: flex;
    justify-content: center;
    .edit {
      flex-direction: column;

      .logout {
        border: none;
        margin-top: 20px;
      }
    }
  }
}
